@import '../common/variables';
@import '../common/colors';

.search-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacing-md 0;
}

.search-bar {
  width: 50%;
  position: relative;
  display: flex;
  align-items: center;
  margin-top:45px;
  @media (max-width: $breakpoint-md) {
    width: 80%;
  }

  &__input {
    width: 100%;
    height: 45px;
    padding-right: 100px;
    margin:0 $spacing-lg;
    border-radius: $border-radius;
    border: 1px solid $secondary-blue;
    transition: border-color 0.3s ease;

    &:focus {
      border-color: $dark-blue;
    }
  }

  &__button {
    position: absolute;
    right: 0;
    top: 0;
    height: 45px;
    width: 45px;
    border: none;
    border-radius: $border-radius-round;
    background-color: $dark-blue;
    color: $white;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
    padding: 0 $spacing-md;

    &:hover {
      background-color: darken($dark-blue, 10%);
    }
  }

  &__advanced {
    background: none;
    border: none;
    color: $dark-blue;
    margin-top: $spacing-sm;
    font-size: 0.9rem;
    text-align: right;
    text-decoration: underline;
    cursor: pointer;

    button {
      background: none;
      border: none;
      color: $dark-blue;
      text-decoration: underline;
      cursor: pointer;

      &:hover {
        color: darken($dark-blue, 15%);
      }
    }

    &:hover {
      color: darken($dark-blue, 10%);
    }
  }
  
  &__input-container {
    position: relative;
    width: 100%;
  }
  
  &__typeahead {
    width: 100%;
    
    .form-control {
      width: 100%;
      height: 45px;
      padding: 0 $spacing-md;
      margin: 0 $spacing-lg;
      border-radius: $border-radius;
      border: 1px solid $secondary-blue;
      transition: border-color 0.3s ease;

      &:focus {
        border-color: $dark-blue;
        box-shadow: none;
        outline: none;
      }
    }
    
    .dropdown-menu {
      width: calc(100% - 2rem);
      margin: 0 $spacing-lg;
      border-radius: 0 0 $border-radius $border-radius;
      border: 1px solid $secondary-blue;
      border-top: none;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      padding: 0;
      
      .dropdown-item {
        padding: $spacing-sm $spacing-md;
        cursor: pointer;
        transition: background-color 0.2s ease;
        
        &:hover, &.active {
          background-color: lighten($secondary-blue, 30%);
        }
      }
    }
  }
  
  &__suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    background-color: $white;
    border: 1px solid $secondary-blue;
    border-top: none;
    border-radius: 0 0 $border-radius $border-radius;
    z-index: 10;
    margin: 0;
    padding: 0;
    list-style: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  &__suggestion-item {
    padding: $spacing-sm $spacing-md;
    cursor: pointer;
    transition: background-color 0.2s ease;
    
    &:hover {
      background-color: lighten($secondary-blue, 30%);
    }
  }
}
